* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.hr-one {
    height: 4px;
    background: #F6623E;
    margin: 0px auto 20px auto;
    width: 140px;
    border-radius: 10%;
}


*::selection {
    background-color: #fff;
    color: #95c11e;
}

body::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #FFF8F6;
}

body::-webkit-scrollbar-thumb {
    background-color: #F6623E;
    border-radius: 50px;
}


.top {
    background-color: #F6623E;
    color: #fff;
    padding-top: 10px;
}

.bar-left p {
    font-size: 1rem;
}

.bar-right a {
    color: #fff;
}

.bar-right select {
    border: none;
    background-color: #F6623E;
    outline: none;
    color: #fff;
}

.four {
    font-size: 14px;
}

.img-main {
    background-image: url('./imgs/one.png');
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}

.img-main-txt {
    position: absolute;
    top: 150px;
    left: 50%;
}

.btn-filled {
    padding: 5px 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #F6623E;
    border-radius: 2px;
}

.shop {
    margin-bottom: 150px;
}

.ship {
    margin-bottom: 150px;
    width: 60%;
}

.rect-15 {
    background-color: #FFF8F6;
}

.health {
    margin-bottom: 150px;
}

.btn-outline {
    padding: 4px 10px;
    border: 2px solid #F6623E;
    background-color: #FFF8F6;
}

.orange {
    color: #F6623E;
}

.products {
    margin-bottom: 150px;
}

.products .btn-outline {
    display: block;
    margin: auto;
}

.reviews {
    background-image: url('./imgs/Rectangle\ 19.png');
    height: 62vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

.reviews-icons .fa-solid {
    color: rgb(255, 213, 0);
    border: none;
}

.reviews-icons-move .first {
    color: #9D9D9D;
    border: 2px solid #9D9D9D;
    border-radius: 2px;
    padding: 8px;
}

.reviews-icons-move .second {
    color: #F6623E;
    border: 2px solid #F6623E;
    border-radius: 2px;
    padding: 8px;
}

.news {
    margin-bottom: 150px;
}

.news-col .txt {
    text-align: justify;
    padding: 1px 10px;
    color: #9D9D9D;
}

.good {
    margin-bottom: 100px;
}

.good img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer {
    background-image: url('./imgs/Rectangle\ 22.png');
    height: 65vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-one {
    padding-top: 80px;
}

.footer-one-links a {
    display: inline-block;
}

.form input {
    border: none;
    background-color: #FFF8F6;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: none;
}

.form button {
    color: #F6623E;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #FFF8F6;
    margin-top: 8px;
}

.footer-two i {
    color: #9D9D9D;
    padding:2px 8px ;
}